*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  color: #e8e6e3;
  font-size: clamp(1.2rem, 2vw, 2rem);
  /* background: #333; */
  background: linear-gradient(to bottom, #3c95e7 1%, #c4d7e7 100%);
  background-attachment: fixed;
  /* background: linear-gradient(to bottom, #333, #5c646b); */
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.title {
  font-size: clamp(3rem, 5vw, 10rem);
}

.wrapper {
  white-space: nowrap;
}

.units {
  font-size: clamp(1rem, 3vw, 3rem);
  cursor: pointer;
}

.units.current {
  border-bottom: 1px solid #fff;
}

.search {
  width: max-content;
  margin-left: 10%;
  border: 5px double #fff;
  white-space: nowrap;
}

.search button {
  background: none;
  border: none;
  cursor: pointer;
}

#search-box,
#search-box:focus-visible {
  width: 30vw;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #e8e6e3;
  background: none;
  border: none;
  outline: none;
}

::placeholder {
  color: #e8e6e3;
}

.day-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 5vh 0;
}

.day-display.loading {
  flex-direction: row;
  justify-content: center;
  font-size: 5vw;
}

.day-display.loading span:not(:first-child) {
  visibility: hidden;
  animation: loading 1s ease-in-out infinite;
}

.day-display.loading span:nth-child(2) {
  animation-delay: -0.2s;
  /* animation-fill-mode: forwards; */
}

.day-display.loading span:nth-child(3) {
  animation-delay: -0.1s;
}

@keyframes loading {
  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.main-temp *:first-child {
  margin-right: 1vw;
}

.main-temp *:nth-child(2) {
  font-size: clamp(2rem, 5vw, 5rem);
}

.description {
  text-transform: capitalize;
}

.week-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  overflow: auto;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.forecast div:nth-child(2) {
  font-size: 1.5rem;
}

.min-max {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  /* flex-wrap: wrap; */
}

.forecast span {
  white-space: nowrap;
}

.current-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/sun.svg") no-repeat;
  background-size: 100% 100%;
  white-space: nowrap;
}

.current-forecast.cloud {
  background: url("./assets/cloud.svg") no-repeat;
  background-size: 100% 100%;
}

.current-forecast.rain {
  background: url("./assets/rain.svg") no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 500px) {
  .week-display {
    flex-direction: column;
  }

  .forecast {
    flex-direction: row;
    gap: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 1rem 0 1rem;
  }

  .min-max {
    flex-direction: row;
  }
}
